{% extends "_info_page_base.njk" %}

{% block title %}
<div>About Us</div>
{% endblock %}

{% block moreContent %}
<div class="about-content">
  <div class="info-section">
    <div class="section-title">
      <h2>Philly activists on a Mission</h1>
    </div>

    <div class="cards">

      <div class="about card" id="social-good">
        <div class="about card-content">
          <div class="card-title">
            <h3>Social Good</h3>
          </div>
          <p> We do social good stuff bbla bla bla</p>
        </div>
      </div>

      <div class="about card" id="open-source">
        <div class="about card-content">
          <div class="card-title">
            <h3>Open Source</h3>
          </div>
          <p>Free software, free society, bla bla bla more bla</p>
        </div>
      </div>

    </div>
  </div>

<div class="wide-image quote" id="lennon">
  <div class="dark">
    <p>&ldquo;A dream you dream alone is only a dream. A dream you dream together is reality.&rdquo;</br><cite>&mdash;John Lennon</cite></p>
    </p>
  </div>
</div>

  <div class="info-section">
    <div class="section-title">
      <h2>Our Team</h1>
    </div>

    <div class="cards">

      <div class=" about profile card" id="mk-profile">
        <div class="profile card-content">
          <div class="card-title">
            <h3>Mary Kate Fain</h3>
          </div>
          <p>Things about Mary kate go here la la la woo</p>
        </div>
      </div>

      <div class="about profile card" id="alex-profile">
        <div class="profile card-content">
          <div class="card-title">
            <h3>Alex Gleason</h3>
          </div>
          <p>Things about Alex go here la la la woo</p>
        </div>
      </div>

    </div>
  </div>


</div>
{% endblock %}
