{% extends "_info_page_base.njk" %}

{% block title %}
<div>About Us</div>
{% endblock %}

{% block moreContent %}
<div class="about-content">
  <div class="info-section">
    <div class="section-title">
      <h2>Philly activists on a Mission</hs>
    </div>

    <div class="cards">

      <div class="about card" id="social-good">
        <div class="about card-content">
          <div class="card-title">
            <h3>Social Good</h3>
          </div>
          <p>We work with activists and organizations on projects that are going to make a difference.</p>
        </div>
      </div>

      <div class="about card" id="open-source">
        <div class="about card-content">
          <div class="card-title">
            <h3>Open Source</h3>
          </div>
          <p>We believe that free software creates better code and communities. All of our work is open source.</p>
        </div>
      </div>

      <div class="about card" id="worker-collective">
        <div class="about card-content">
          <div class="card-title">
            <h3>Worker's Collective</h3>
          </div>
          <p>At Candlewaster, the workers are the owners. No corporate evil to see here.</p>
        </div>
      </div>

    </div>
  </div>

<div class="wide-image quote" id="lennon">
  <div class="dark">
    <p>&ldquo;A dream you dream alone is only a dream. A dream you dream together is reality.&rdquo;</br><cite>&mdash;John Lennon</cite></p>
    </p>
  </div>
</div>

  <div class="info-section">
    <div class="section-title">
      <h2>Our Team</h2>
    </div>

    <div class="cards">

      <div class=" about profile card" id="mk-profile">
        <div class="profile card-content">
          <div class="card-title">
            <h3>Mary Kate Fain</h3>
          </div>
          <p>Mary Kate has a background in social science and non-profit marketing. She is passionate about animal rights.</p>
        </div>
      </div>

      <div class="about profile card" id="alex-profile">
        <div class="profile card-content">
          <div class="card-title">
            <h3>Alex Gleason</h3>
          </div>
          <p>Alex is a full-stack developer with 5 years of experience. He is passionate about educating others on free software and anarchism.</p>
        </div>
      </div>

    </div>
  </div>


</div>
{% endblock %}
