{# {% extends "_info_page_base.njk" %}

{% block title %}
<div>Our Work</div>
{% endblock %}

{% block moreContent %}
<div class="portfolio-content">
  <div class="info-section">
    <div class="section-title">
      <h2>Work for Clients</h2>
    </div>

    <div class="cards">

      <div class="portfolio card">
        <div class="portfolio card-img hidden" id="client1">
        </div>
        <div class="portfolio card-content ">
          <div class="card-title">
            <h3>Example Client</h3>
          </div>
          <p>Example job info</p>
        </div>
      </div>


    </div>

  </div>

<div class="wide-image" id="code">
    <div class="dark">
      <p>We believe that open source makes better code and stronger communities.</p>
      </p>
    </div>
</div>

<div class="info-section">
  <div class="section-title">
    <h2>Personal Projects</h2>
  </div>

  <div class="cards">






  </div>

</div>


</div>{% endblock %} #}
