{% extends "_info_page_base.njk" %}

{% block title %}
<div>Our Services</div>
{% endblock %}

{% block moreContent %}
<div class="services-content">
  <div class="info-section">
    <div class="section-title">
      <h2>Services We Offer</h1>
    </div>

    <div class="cards">

      <div class="services card">
        <div class="services card-content">
          <div class="card-title">
            <h3>Responsive Websites</h3>
          </div>
          <p>Beautiful websites that work for you</p>
        </div>
      </div>

      <div class="services card">
        <div class="services card-content">
          <div class="card-title">
            <h3>Django Web Applications</h3>
          </div>
          <p>Clean and simple ui to keep users coming back</p>
        </div>
      </div>

      <div class="services card">
        <div class="services card-content">
          <div class="card-title">
            <h3>Mobile-first Design</h3>
          </div>
          <p>Designed to be mobile from the ground up</p>
        </div>
      </div>

    </div>
    <div class="get-quote">
      <a href="/contact" class="button">Get a Quote</a>
    </div>
  </div>

<div class="wide-image" id="process">
    <div class="dark">
      <p>Our immersive discovery process will help take your idea into a tangible plan while being true to your vision.</p>
      </p>
    </div>
</div>

  <div class="info-section">
    <div class="section-title">
      <h2>Our Team</h1>
    </div>

  </div>


</div>
{% endblock %}
