html {
  font-family: 'Slabo 27px', serif;
  color: white;
  background: black;
}

body {
  width: 650px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin: 60px 0;
}

h1 {
  font-family: 'Alice', serif;
  text-transform: uppercase;
  font-size: 5rem;
}

.introduction {
  margin: 40px 0;
  h1 {
    margin: 0 0 0 -6px;
  }
  .subheadline {
    font-size: 2rem;
    margin-top: -12px;
  }
}

.definition {
  margin: 20px 0;
  .definition-title {
    font-size: 1.2em;
    font-weight: bold;
  }
}

@keyframes twinkle {
    from { background-position:0 0; }
    to { background-position:-10000px 5000px; }
}

@keyframes clouds {
    from { background-position:0 0; }
    to { background-position:10000px 0; }
}

.background, .starfield, .twinkle, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.starfield {
  background: transparent url("images/starfield.svg") repeat top center;
  opacity: 0.9;
  z-index: -3;
}

.twinkle {
  background :transparent url("images/twinkle.svg") repeat top center;
  z-index: -2;
  animation: twinkle 200s linear infinite;
}

.clouds {
  background: transparent url("images/clouds.png") repeat top center;
  z-index: 0;
  animation: clouds 200s linear infinite;
}
