html {
  font-family: 'Slabo 27px', serif;
  color: white;
  background: black;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
}

header {
  margin: 50px 0;
}
footer {
  margin: 40px 30px 40px 0;
  font-size: 0.8rem;
  opacity: 0.3;
}

h1 {
  font-family: 'Alice', serif;
  text-transform: uppercase;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: white;
}

a.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 4px;
  margin: 20px 0;
  transition: all 0.4s;
  &:hover {
    background: white;
    color: black;
  }
}

a.full-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.introduction {
  margin: 100px auto;
  text-align: center;
  h1 {
    font-size: 8vw;
    margin: 0 auto;
  }
  .subheadline {
    font-size: 20px;
    font-weight: normal;
    text-align: center;

  }
}

section.full {
  width: 100%;
  background-color: black;
  padding: 50px 0;
}

.section-content {
  padding: 20px;
  padding-left: 5%;
  max-width: 900px;
}

.section-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  .section-text {
    width: 70%;
  }
  img {
    width: 20%;
  }
}




// .definition {
//   margin: 20px 0;
//   .definition-title {
//     font-size: 1.2em;
//     font-weight: bold;
//     opacity: 0.7;
//   }
//   .definition-text {
//     opacity: 0.6;
//   }
// }

@keyframes twinkle {
    from { background-position:0 0; }
    to { background-position:-10000px 5000px; }
}

@keyframes clouds {
    from { background-position:0 0; }
    to { background-position:10000px 0; }
}

.background, .starfield, .twinkle, .clouds {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
  pointer-events: none;
}

.background {
  position: fixed;
  z-index: -1;
}

.starfield, .twinkle, .clouds {
  position: absolute;
}

.starfield {
  background: transparent url("../images/starfield.svg") repeat top center;
  opacity: 0.9;
  z-index: -3;
}

.twinkle {
  background :transparent url("../images/twinkle.svg") repeat top center;
  z-index: -2;
  animation: twinkle 200s linear infinite;
}

.clouds {
  background: transparent url("../images/clouds.png") repeat top center;
  z-index: 0;
  animation: clouds 200s linear infinite;
}
//
// blockquote {
//   margin: 40px 0;
//   padding: 0 20px;
//   border-left: 1px solid rgba(255, 255, 255, 0.5);
// }
//
// .team {
//   display: flex;
//   justify-content: flex-start;
//   flex-wrap: wrap;
// }
//
// .member-listing {
//   position: relative;
//   margin: 0.5rem;
//   transition: all 0.5s;
//   overflow: hidden;
//   h3, .job-title {
//     z-index: 1;
//     margin: 0;
//     padding: 0;
//     background: rgba(0, 0, 0, 0.6);
//     width: 100%;
//   }
//   h3 {
//     margin-top: 0.5rem;
//   }
//   .job-title {
//     margin-bottom: 0.5rem;
//   }
//   .photo {
//     width: 100px;
//     height: 100px;
//     background-color: #ccc;
//     background-size: cover;
//     background-position: center;
//     filter: grayscale(100%);
//     @media (min-width: 650px) {
//       width: 150px;
//       height: 150px;
//     }
//   }
//   &:hover {
//     .photo {
//       filter: grayscale(0%);
//     }
//   }
// }
//
// .resources {
//   margin: 40px 0;
//   a {
//     display: block;
//     margin: 0.5rem;
//   }
//   @media (min-width: 650px) {
//     display: flex;
//   }
// }
