.title {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  margin-top: -20px;
}

.logo {
  font-size: 10rem;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo-subtitle {
  font-size: 14px;
  margin-top: -35px;
  padding: 0px;
}

.page-title {
  align-self: flex-end;
}

.page-content {
  min-height: 300px;
  background-color: black;
  padding: 20px;
}

.about-section {
  margin: 50px auto;
  margin-bottom: 100px;
}

.section-title {
  padding-left: 40px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 500px;
  height: 300px;
  background-color: lightgrey;
}

.profile.card-content {
  margin-left: 250px;
}

.about.card-content {
  margin-left: 100px;
}

.card-content {
  margin-top: 0px;
  height: 300px;
  background-color: #f6f6f6;
  color: black;

  h3 {
    margin: 0px auto;
    padding: 20px;
  }

  p {
    margin: 0px auto;
    padding: 20px;
  }

}

#social-good {
  background-image: url("../images/5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

#open-source {
  background-image: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

#mk-profile {
  background-image: url("/media/images/marykate.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

#alex-profile {
  background-image: url("/media/images/alex.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
